src/main/mule/api-zip.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="api-zip-config" api="api-zip.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-zip-main">
        <http:listener path="/api/*" config-ref="API_Zip_HTTP_Listener_Config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-zip-config"/>
    <error-handler ref="api-zip-error-handler" />
    </flow>
    <flow name="api-zip-console">
        <http:listener path="/console/*" config-ref="API_Zip_HTTP_Listener_Config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-zip-config"/>
    <error-handler ref="api-zip-error-handler" />
    </flow>
    <flow name="get:\files\download:api-zip-config">
        <logger level="INFO" message="get:\files\download:api-zip-config" />
    </flow>
    <flow name="get:\zip\entries:api-zip-config">
        <logger level="INFO" message="get:\zip\entries:api-zip-config" />
    </flow>
    <flow name="get:\files:api-zip-config">
        <logger level="INFO" message="get:\files:api-zip-config" />
    </flow>
    <flow name="get:\health:api-zip-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "UP"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\zip\archive:api-zip-config">
        <logger level="INFO" message="post:\zip\archive:api-zip-config" />
    </flow>
    <flow name="post:\zip\compress:api-zip-config">
        <logger level="INFO" message="post:\zip\compress:api-zip-config" />
    </flow>
    <flow name="post:\zip\decompress:api-zip-config">
        <logger level="INFO" message="post:\zip\decompress:api-zip-config" />
    </flow>
    <flow name="post:\zip\extract:api-zip-config">
        <logger level="INFO" message="post:\zip\extract:api-zip-config" />
    </flow>
</mule>
